.Earphones {
    margin: 0 auto;
    height: 100%;
    max-width: 1110px;
}

.myInput {
    background: var(--main-bg-color);
}

.mySelect {
    margin-top: 15px;
    width: 150px;
}

.filters {
    display: flex;
    gap: 30px;
}

